.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em;
}

.item {
  width: auto;
  max-width: 50%;
}

img {
  /* max-height: 30em; */
  width: auto;
  max-width: 30em;
}
