body {
  width: 100%;
  margin: 0 auto;
  background-color: #f7f6f2;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.content {
  max-width: 1620px;
  margin: 0 auto;
}

main {
  margin: auto 0px auto 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em;
}

header {
  background-color: #4b6587;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav a {
  padding: 1vw;
}

h1 {
  margin-top: 0px;
  display: inline;
}

h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

.item {
  padding: 0 2vw;
  width: calc(100%-4vw);
  height: 100%;
}

img {
  /* max-height: 30em; */
  width: 100%;
  max-width: 48em;
  margin: auto;
}

footer {
  padding: 0 2vw 1vw 2vw;
  background-color: #4b6587;
  color: #ffffff;
}
